.button {
  display: inline-block;
  min-width: 200px;

  padding: 1rem;

  background-color: #2892d7;
  transition: background-color 0.3s;

  font-size: 1rem;
  color: #ffffff;

  cursor: pointer;
}

.button:hover {
  background-color: #1d70a2;
}

@media (max-width: 767px) {
  .button {
    display: block;
    width: 100%;
  }
}
